{% extends "base.html" %}

{% load crispy_forms_tags %}

{% load i18n %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container mt-5 shadow-lg rounded">
    <div class="row  text-center">
        <div class="col-md-8 mt-3 offset-md-2 ">
            <h3>{% trans "Sign in" %}</h3>

            <p>{% blocktrans %}Welcome! To book a golf lesson please Sign in below.</p>
            <p>If you have not created an account yet, then <a class="link" href="{{ signup_url }}">Sign up</a>
                first.{% endblocktrans %}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <form class="login text-left" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form|crispy }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <div class="text-center col-xs-3">
                    <button class="btn btn-lg btn-primary mb-5" type="submit">{% trans "Sign in" %}</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}