{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- index.html content starts here -->
<div id="myCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
        <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active center-block">
            <img class="first-slide" src="{% static 'images/range3.jpg' %}" alt="first hole">
            <div class="container">
                <div class="carousel-caption d-inline">

                    {% if request.user.is_authenticated %}
                    <p><a class="btn btn-lg btn-success" href="{% url 'bookings_list' %}" role="button">My Bookings</a>
                    </p>
                    {% else %}
                    <p><a class="btn btn-lg btn-brown" href="{% url 'account_login' %}" role="button">Sign in</a></p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="carousel-item center-block">
            <img class="second-slide" src="{% static 'images/range1.jpg' %}" alt="3rd hole">
            <div class="container">
                <div class="carousel-caption">

                    <p><a class="btn btn-lg btn-brown" href="#options" role="button">Options</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item center-block">
            <img class="third-slide" src="{% static 'images/range.jpg' %}" alt="5th hole">
            <div class="container">
                <div class="carousel-caption">

                    <p><a class="btn btn-lg btn-brown" href="#location" role="button">Location</a></p>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </a>
</div>

<!-- START THE FEATURETTES -->

<div class="container">

    <hr class="featurette-divider" id="options">

    <div class="row featurette justify-content-center">
        <div class="col-md-7 text-center">
            <h2 class="featurette-heading">Private bay for your lesson.</h2>
            <p class="lead">Enjoy the privacy of a private bay for your lesson with one of our quailified PGA
                professionals.</p>
        </div>
        <div class="col-md-5 text-center">
            <img src="{% static 'images/private_bay.webp' %}"
                class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                height="500" alt="Image of golf bay">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette justify-content-center">
        <div class="col-md-7 order-md-2 text-center">
            <h2 class="featurette-heading">Own Personal Trackman Screen.</h2>
            <p class="lead">Each bay at driving range has its own personel Trackman Screen to improve golf lesson
                experience.</p>
        </div>
        <div class="col-md-5 order-md-1 text-center">
            <img src="{% static 'images/trackman.webp' %}"
                class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                height="500" alt="Image of golf bay with trackman">
        </div>
    </div>

    <hr class="featurette-divider" id="location">

    <div class="row featurette justify-content-center">
        <div class="col-md-7 text-center">
            <h2 class="featurette-heading">Located in the <span class="text-muted">Heart</span> of the country.</h2>
            <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really
                intended to be actually read, simply here to give you a better view of what this would look like with
                some actual content. Your content.</p>
        </div>
        <div class="col-md-5 text-center">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d19067.77843130761!2d-8.217431611914643!3d53.31689626327078!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x485c425514bee713%3A0x1472c7843a50bef2!2sBallinasloe%20Golf%20Academy%20%26%20Driving%20Range!5e0!3m2!1sen!2sie!4v1718806303230!5m2!1sen!2sie"
                class="featurette-iframe bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                width="500" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>
    </div>

    <hr class="featurette-divider">

    <p class="text-center"><a href="#">Back to top</a></p>

</div><!-- /.container -->

<!-- /END THE FEATURETTES -->

{% endblock %}