{% load static %}

{% url 'home' as home_url %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}

<!DOCTYPE html>
<html class="h-100" lang="en">

<!-- Includes head section with meta tags, title, and links to CSS files -->
{% include 'layout/head.html' %}

<body class="d-flex flex-column h-100">

    <!-- Naviagation bar -->
    {% include 'layout/nav.html' %}

    <!-- Displaying Django messages -->
    {% include 'layout/messages.html' %}

    <main class="flex-shrink-0 bg-light">
        {% block content %}
        <!-- Main content block where different views will be rendered -->
        {% endblock content %}
    </main>

    <!-- Footer -->
    {% include 'layout/footer.html' %}

    <!-- Scripts including JavaScript file -->
    {% include 'layout/scripts.html' %}
</body>
</html>