/* GLOBAL STyles
-------------------------------------------------- */
html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  padding-top: 2.5rem;
  color: #5a5a5a;
}

main {
  flex: 1;
}

.logo-image {
  height: 2.5rem;
  margin-left: 0.5rem;
}

/* CAROUSEL Styles
-------------------------------------------------- */
.carousel {
  margin-bottom: 2rem;
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.carousel-item {
  height: 32rem;
}

.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 32rem;
  object-fit: cover;
}

/* FEATURETTE Styles
-------------------------------------------------- */
.featurette-divider {
  margin: 2rem 0;
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.05rem;
}

#map {
  width: 100%;
  height: 22.5rem;
}

/* FOOTER STYLES
-------------------------------------------------- */
.social-icon {
  font-size: 1.5rem;
}

.fa-twitter {
  margin: 0 1.6rem;
}

.copyright-text {
  font-size: 0.8rem;
}

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 640px) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }
}

@media (min-width: 768px) {
  .featurette-divider {
    margin: 4rem 0;
  }

  .featurette img {
    width: 100%;
    height: auto;
  }

  .social-icon {
    font-size: 1.8rem;
  }

  .fa-twitter {
    margin: 0 6rem;
  }

  .copyright-text {
    font-size: 0.9rem;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    font-size: 2.5rem;
  }
}

@media (min-width: 1200px) {
  .featurette-heading {
    font-size: 2.7rem;
  }
}