<footer class="footer mt-auto bg-dark text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center">
                <!-- Phone -->
                <i class="mr-2 bi bi-telephone"></i>
                <a href="tel:087-3123122">087-3123122</a>
            </div>
            <div class="col-md-4 text-center">
                <!-- Email -->
                <i class="mr-2 bi bi-envelope"></i>
                <a href="mailto:info@ssquare.com" target="_blank" rel="noopener noreferrer">info@golflessons.com</a>
            </div>
            <div class="col-md-4 text-center">
                <!-- Social Media Icons -->
                <a href="https://facebook.com" target="_blank" rel="noopener"
                    aria-label="Visit our Facebook page (opens in a new tab)">
                    <i class="mr-4 fab fa-facebook-f"></i></a>
                <a href="https://twitter.com" target="_blank" rel="noopener"
                    aria-label="Visit our Twitter page (opens in a new tab)">
                    <i class="mr-4 fab fa-twitter"></i></a>
                <a href="https://Linkedin.com" target="_blank" rel="noopener"
                    aria-label="Visit our Linkedin page (opens in a new tab)">
                    <i class="mr-4 fab fa-linkedin-in"></i></a>
                <a href="https://instagram.com" target="_blank" rel="noopener"
                    aria-label="Visit our Instagram page (opens in a new tab)">
                    <i class="fab fa-instagram"></i></a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center">
                <a>&copy; 2024 GolfLessons.</a>
            </div>
        </div>
    </div>
</footer>